<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a href="/">首页</a></li>
					<li class="active">联系我们</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- page-intro end -->
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
	<div class="container-fluid">
		<div class="row">
			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-8 col-md-offset-2">
				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title">联系我们</h1>
				<!-- page-title end -->
				<p>留下您们的意见, 让我们做的更好</p>
				<div class="alert alert-success hidden" id="MessageSent">
					我们收到您的反馈, 非常感谢
				</div>
				<div class="alert alert-danger hidden" id="MessageNotSent">
					Oops! Something went wrong please refresh the page and try again.
				</div>
				<div class="contact-form">
					<form id="contact-form" role="form" method="post">
						<div class="form-group has-feedback">
							<label for="name">姓名*</label>
							<% if(typeof user == 'undefined' ) { %>
							<input type="text" class="form-control" id="name" name="name" placeholder="姓名" required>
							<% } else { %>
							<input type="text" class="form-control" id="name" name="name" placeholder="姓名" value="<%= user.username %>" required>
							<% } %>
							<i class="fa fa-user form-control-feedback"></i>
						</div>
						<div class="form-group has-feedback">
							<label for="email">邮箱*</label>
							<input type="email" class="form-control" id="email" name="email" placeholder="邮箱" required>
							<i class="fa fa-envelope form-control-feedback"></i>
						</div>
						<div class="form-group has-feedback">
							<label for="subject">标题*</label>
							<input type="text" class="form-control" id="subject" name="subject" placeholder="标题" required>
							<i class="fa fa-navicon form-control-feedback"></i>
						</div>
						<div class="form-group has-feedback">
							<label for="message">改进意见*</label>
							<textarea class="form-control" rows="6" id="message" name="message" placeholder="改进意见" required></textarea>
							<i class="fa fa-pencil form-control-feedback"></i>
						</div>
						<button type="submit" class="btn btn-default">发送</button>
					</form>
				</div>
			</div>
			<!-- main end -->
		</div>
	</div>
</section>
