<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
					<li class="active">Impressum</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- page-intro end -->
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
	<div class="container-fluid">
		<div class="row">
			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">
				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title">Impressum</h1>
				<!-- page-title end -->
				<pre style="font-size: 15px"><b>Angaben gemäß § 5 TMG:</b>
RIXUS GmbH
Schellingstr. 3
70825 Korntal-Münchingen

<b>Vertreten durch:</b>
Rixin Zhao

<b>Kontakt:</b>
Telefon: +4971150475396
E-Mail: info@allhaha.com

<b>Registereintrag:</b>
Eintragung im Handelsregister. 
Registergericht:Amtsgericht Stuttgart 
Registernummer: 745987

<b>Umsatzsteuer-ID:</b>
Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz: DE290984544</pre>
			</div>
		</div>
	</div>
</section>
