<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Allhaha</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="从德国超过9000家网店，9百万款产品中为您精选热门商品报价，提供海量折扣优惠券以及最专业的热品导购、转运公司、代购买手信息，尽在Allhaha.com一站式海淘比价网站。">
    <meta name="keywords" content="打折,折扣券,比价,商品,海购,德国,欧洲,文章,导购,海淘,电商,服装,鞋子,食品,饮食,厨房,电子,电子产品,母婴,化妆品,健康,保健,旅游,Kaufberatung,Preisvergleich,Angebote,sparen,Kleidung,Schuhe,Essen,Küche,Elektro,Computer,Mutter,Baby,Kosmetik,Gesundheit,Reisen,Urlaub">
    <meta name="author" content="Rokaux">
    <!-- Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Favicon and Apple Icons-->
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="apple-touch-icon" href="touch-icon-iphone.png">
    <!-- Vendor Styles including: Bootstrap, Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="/css/vendor.min.css">
    <!-- Main Template Styles-->
    <link id="mainStyles" rel="stylesheet" media="screen" href="/css/styles.min.css">
    <!-- Modernizr-->
    <script src="/js/modernizr.min.js"></script>
</head>

<body>
    <!-- Off-Canvas Category Menu-->
    <div class="offcanvas-container" id="shop-categories">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title">Shop Categories</h3>
        </div>
        <nav class="offcanvas-menu">
            <ul class="menu">
                <li class="has-children">
                    <span>
                        <a href="#">Men's Shoes</a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li>
                            <a href="#">Sneakers</a>
                        </li>
                        <li>
                            <a href="#">Loafers</a>
                        </li>
                        <li>
                            <a href="#">Boat Shoes</a>
                        </li>
                        <li>
                            <a href="#">Sandals</a>
                        </li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="has-children">
                    <span>
                        <a href="#">Women's Shoes</a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li>
                            <a href="#">Sandals</a>
                        </li>
                        <li>
                            <a href="#">Flats</a>
                        </li>
                        <li>
                            <a href="#">Sneakers</a>
                        </li>
                        <li>
                            <a href="#">Heels</a>
                        </li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="has-children">
                    <span>
                        <a href="#">Men's Clothing</a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li>
                            <a href="#">Shirts &amp; Tops</a>
                        </li>
                        <li>
                            <a href="#">Pants</a>
                        </li>
                        <li>
                            <a href="#">Jackets</a>
                        </li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="has-children">
                    <span>
                        <a href="#">Women's Clothing</a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li>
                            <a href="#">Dresses</a>
                        </li>
                        <li>
                            <a href="#">Shirts &amp; Tops</a>
                        </li>
                        <li>
                            <a href="#">Shorts</a>
                        </li>
                        <li>
                            <a href="#">Swimwear</a>
                        </li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="has-children">
                    <span>
                        <a href="#">Kid's Shoes</a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li>
                            <a href="#">Boots</a>
                        </li>
                        <li>
                            <a href="#">Sandals</a>
                        </li>
                        <li>
                            <a href="#">Crib Shoes</a>
                        </li>
                        <li>
                            <a href="#">Loafers</a>
                        </li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="has-children">
                    <span>
                        <a href="#">Bags</a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li>
                            <a href="#">Handbags</a>
                        </li>
                        <li>
                            <a href="#">Backpacks</a>
                        </li>
                        <li>
                            <a href="#">Luggage</a>
                        </li>
                        <li>
                            <a href="#">Wallets</a>
                        </li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="has-children">
                    <span>
                        <a href="#">Accessories</a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li>
                            <a href="#">Sunglasses</a>
                        </li>
                        <li>
                            <a href="#">Hats</a>
                        </li>
                        <li>
                            <a href="#">Watches</a>
                        </li>
                        <li>
                            <a href="#">Jewelry</a>
                        </li>
                        <li>
                            <a href="#">Belts</a>
                        </li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="topbar">
        <div class="topbar-column">
            <a class="hidden-md-down" href="mailto:info@allhaha.com">
                <i class="icon-mail"></i>&nbsp; support@unishop.com</a>
            <a class="hidden-md-down" href="tel:00331697720">
                <i class="icon-bell"></i>&nbsp; 00 33 169 7720</a>
        </div>
        <div class="topbar-column">
            <div class="lang-currency-switcher-wrap">
                <div class="lang-currency-switcher dropdown-toggle">
                    <span class="language">
                        <img alt="English" src="img/flags/DE.png">
                    </span>
                    <span class="currency">€ EUR</span>
                </div>
            </div>
        </div>
    </div>

    <header class="navbar navbar-sticky">
        <!-- Search-->
        <form class="site-search" method="get">
            <input type="text" name="site_search" placeholder="Type to search...">
            <div class="search-tools">
                <span class="clear-search">Clear</span>
                <span class="close-search">
                    <i class="icon-cross"></i>
                </span>
            </div>
        </form>
        <div class="site-branding">
            <div class="inner">
                <!-- Off-Canvas Toggle (#shop-categories)-->
                <a class="offcanvas-toggle cats-toggle" href="#shop-categories" data-toggle="offcanvas"></a>
                <!-- Off-Canvas Toggle (#mobile-menu)-->
                <a class="offcanvas-toggle menu-toggle" href="#mobile-menu" data-toggle="offcanvas"></a>
                <!-- Site Logo-->
                <a class="site-logo" href="index.html">
                    <img src="/img/logo/logo.png" alt="Unishop">
                </a>
            </div>
        </div>
        <nav class="site-menu">
            <ul>
                <li class="has-megamenu active">
                    <a href="index.html">
                        <span>Home</span>
                    </a>
                    <ul class="mega-menu">
                        <li>
                            <a class="d-block img-thumbnail text-center navi-link" href="index.html">
                                <img alt="Featured Products Slider" src="img/mega-menu-home/01.jpg">
                                <h6 class="mt-3">Featured Products Slider</h6>
                            </a>
                        </li>
                        <li>
                            <a class="d-block img-thumbnail text-center navi-link" href="home-featured-categories.html">
                                <img alt="Featured Categories" src="img/mega-menu-home/02.jpg">
                                <h6 class="mt-3">Featured Categories</h6>
                            </a>
                        </li>
                        <li>
                            <a class="d-block img-thumbnail text-center navi-link" href="home-collection-showcase.html">
                                <img alt="Products Collection Showcase" src="img/mega-menu-home/03.jpg">
                                <h6 class="mt-3">Products Collection Showcase</h6>
                            </a>
                        </li>
                        <li>
                            <div class="img-thumbnail text-center">
                                <img alt="More To Come. Stay Tuned!" src="img/mega-menu-home/04.jpg">
                                <h6 class="mt-3">More To Come. Stay Tuned!</h6>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="shop-grid-ls.html">
                        <span>Shop</span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="shop-categories.html">Shop Categories</a>
                        </li>
                        <li class="has-children">
                            <a href="shop-grid-ls.html">
                                <span>Shop Grid</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="shop-grid-ls.html">Grid Left Sidebar</a>
                                </li>
                                <li>
                                    <a href="shop-grid-rs.html">Grid Right Sidebar</a>
                                </li>
                                <li>
                                    <a href="shop-grid-ns.html">Grid No Sidebar</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="shop-list-ls.html">
                                <span>Shop List</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="shop-list-ls.html">List Left Sidebar</a>
                                </li>
                                <li>
                                    <a href="shop-list-rs.html">List Right Sidebar</a>
                                </li>
                                <li>
                                    <a href="shop-list-ns.html">List No Sidebar</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop-single.html">Single Product</a>
                        </li>
                        <li>
                            <a href="cart.html">Cart</a>
                        </li>
                        <li class="has-children">
                            <a href="checkout-address.html">
                                <span>Checkout</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="checkout-address.html">Address</a>
                                </li>
                                <li>
                                    <a href="checkout-shipping.html">Shipping</a>
                                </li>
                                <li>
                                    <a href="checkout-payment.html">Payment</a>
                                </li>
                                <li>
                                    <a href="checkout-review.html">Review</a>
                                </li>
                                <li>
                                    <a href="checkout-complete.html">Complete</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                
                
            </ul>
        </nav>
        <!-- Toolbar-->
        <div class="toolbar">
            <div class="inner">
                <div class="tools">
                    <div class="search">
                        <i class="icon-search"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>

    

    <div class="offcanvas-wrapper">
        <%- body %>
        <!-- Site Footer-->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <!-- Contact Info-->
                        <section class="widget widget-light-skin">
                            <h3 class="widget-title">Get In Touch With Us</h3>
                            <p class="text-white">Phone: 00 33 169 7720</p>
                            <p>
                                <a class="navi-link-light" href="#">info@allhaha.com</a>
                            </p>
                        </section>
                    </div>
                    <div class="col-lg-3 col-md-6"></div>
                    <div class="col-lg-3 col-md-6"></div>
                    <div class="col-lg-3 col-md-6">
                        <!-- About Us-->
                        <section class="widget widget-links widget-light-skin">
                            <h3 class="widget-title">About Us</h3>
                            <ul>
                                <li>
                                    <a href="#">About Allhaha</a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
                <hr class="hr-light mt-2 margin-bottom-2x">

                <!-- Copyright-->
                <p class="footer-copyright">© All rights reserved. Made with &nbsp;
                    <i class="icon-heart text-danger"></i>
                    <a href="http://rokaux.com/" target="_blank"> &nbsp;by Allhaha</a>
                </p>
            </div>
        </footer>
    </div>
    <!-- Backdrop-->
    <div class="site-backdrop"></div>

    <script src="/js/vendor.min.js"></script>
    <script src="/js/scripts.min.js"></script>
</body>