<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a href="/">首页</a></li>
					<li class="active">错误</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- page-intro end -->
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
	<div class="container-fluid">
		<div class="row">
			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">
				<div class="col-md-6 col-md-offset-3">
					<h3 class="title">不好意思，没有找到您需要的产品！请联系我们，我们会尽快添加您所需要的产品！</h3>
					<a class="btn btn-warning" href="/product_request">请求产品</a>
					<button class="btn btn-success" onclick="window.history.back()">返回上一页</button>
					<hr/>
				</div>
				<form role="search" action="/" class="col-md-6 col-md-offset-3">
					<div class="form-group has-feedback">
						<input type="text" class="form-control" placeholder="搜索产品" name="search" >
						<i class="fa fa-search form-control-feedback"></i>
					</div>
				</form>
			</div>
			<!-- main end -->
		</div>
	</div>
</section>