<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>域名转移</title>
</head>

<body>
    <script>
    (()=>{
        document.querySelector('.referrer').innerHTML = document.referrer;
        setTimeout(()=>{
            location.href = "<%= url %>";
        },100);
    })();
    </script>
</body>

</html>