<div class="page-header">
    <h1 style="text-align: center">Information Editor</h1>
</div>

<div style="background-color: red" class="row">
    <div class="program_block" style="display: inline-block">
        <div style="width: 30px">
            <p>Hello</p>
        </div>
        <div style = "width: 30px">
            <p>Hello</p>
        </div>
    </div>
    
</div>