<div class="container">
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                    <div class="form-block center-block">
                        <hr>
                        <form class="form-horizontal" id="form" role="form" method="post">
                            <div class="form-group has-feedback">
                                <label for="newpassword" class="col-sm-3 control-label">Neues Password</label>
                                <div class="col-sm-8">
                                    <input type="password" name="newpassword" placeholder="Neues Password" class="form-control" id="newpassword" />
                                    <i class="fa fa-lock form-control-feedback"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="confirmpassword" class="col-sm-3 control-label">Wiederholung des Passwords</label>
                                <div class="col-sm-8">
                                    <input type="password" name="confirmpassword" placeholder="Wiederholung des Passwords" class="form-control" id="confirmpassword" />
                                    <i class="fa fa-lock form-control-feedback"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-8">
                                    <button type="submit" class="btn btn-success">Bestätigen</button>
                                    <a href="/de" class="btn btn-primary">Nein</a>
                                </div>
                            </div>
                        </form>
                        <div class="alert alert-danger" role="alert">
                            <%= info %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function() {
        $("#form").submit(function(e) {
            if($("#newpassword").val() == ""){
                alert("输入有误, 请重新输入");
                e.preventDefault();
                return false;
            }
            if ($("#newpassword").val() != $("#confirmpassword").val()) {
                alert("新密码和确认输入有误, 请重新输入");
                e.preventDefault();
                return false;
            }
            if($("#newpassword").val().length < 6){
                alert("密码长度须长于6位");
                e.preventDefault();
                return false;
            }
        });
    });
</script>
