<div class="container">
    <h3> <%= info %> </h3>
    <br/>
    <form id="form" role="form" action="/password_reset/changePassword" method="post" style="max-width: 300px;">
        <div class="form-group">
            <input type="password" name="newpassword" placeholder="新的密码" class="form-control" id="newpassword" />
        </div>

        <div class="form-group">
            <input type="password" name="confirmpassword" placeholder="重复新的密码" class="form-control" id="confirmpassword" />
        </div>

        <button type="submit" class="btn btn-success">确认</button>
        <a href="/">
            <button type="button" class="btn btn-primary">取消</button>
        </a>
    </form>
    <br/>
</div>

<script>
    $(document).ready(function() {

        $("#form").submit(function(e) {

            if($("#newpassword").val() == ""){
                alert("输入有误, 请重新输入");
                e.preventDefault();
                return false;

            }

            if ($("#newpassword").val() != $("#confirmpassword").val()) {
                alert("新密码和确认输入有误, 请重新输入");
                e.preventDefault();
                return false;
            }

            if($("#newpassword").val().length < 6){
                alert("密码长度须长于6位");
                e.preventDefault();
                return false;
            }
        });
    });
</script>
