<div class="container">
    <section class="main-container">
        <div class="container">
            <div class="row">
                <!-- main start -->
                <!-- ================ -->

                <div class="main object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                    <div class="form-block center-block">
                        <h2 class="title">Als unsere Kunden anmelden</h2>
                        <hr>
                        <form class="form-horizontal" role="form" action="/de/register" method="post">
                            <div class="form-group has-feedback">
                                <label for="inputName" class="col-sm-3 control-label">Vorname <span class="text-danger small">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputName" placeholder="Vorname" name="firstname" required>
                                    <i class="fa fa-pencil form-control-feedback"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="inputLastName" class="col-sm-3 control-label">Nachname <span class="text-danger small">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputLastName" placeholder="Nachname" name="lastname" required>
                                    <i class="fa fa-pencil form-control-feedback"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="inputUserName" class="col-sm-3 control-label">Benutzername <span class="text-danger small">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputUserName" placeholder="Benutzername" name="username" required>
                                    <i class="fa fa-user form-control-feedback"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="inputEmail" class="col-sm-3 control-label">Email <span class="text-danger small">*</span></label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="emailadress" required>
                                    <i class="fa fa-envelope form-control-feedback"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="inputPassword" class="col-sm-3 control-label">Password <span class="text-danger small">*</span></label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" required>
                                    <i class="fa fa-lock form-control-feedback"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-8">
                                    <button type="submit" class="btn btn-default">Anmelden</button>
                                </div>
                            </div>
                        </form>
                        <div class="alert alert-danger" role="alert">
                            <%= info %>
                        </div>
                    </div>
                </div>
                <!-- main end -->
            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function() {
        $("#form").submit(function(e) {
            if ($("#username_input").val() == "") {
                alert("Geben Sie bitte einen Benutzername ein!");
                e.preventDefault();
            }
            if ($("#password_input").val() == "") {
                alert("Geben Sie bitte den Password ein!");
                e.preventDefault();
            }
        });
    });
</script>
