<div class="container">
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                    <div class="form-block center-block">
                        <hr>
                        <form class="form-horizontal" role="form" action="/de/password_reset" method="post">
                            <div class="form-group has-feedback">
                                <label for="email_input" class="col-sm-3 control-label">Email bei der Anmeldung</label>
                                <div class="col-sm-8">
                                    <input type="email" name="emailadress" placeholder="Email Addresse" class="form-control" id="email_input" required>
                                    <i class="fa fa-envelope form-control-feedback"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-8">
                                    <button type="submit" class="btn btn-success">Password zurücksetzen</button>
                                    <a class="btn btn-primary" href="/">Cancel</a>
                                </div>
                            </div>
                        </form>
                        <div class="alert alert-danger" role="alert">
                            <%= info %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function() {
        $("#email_input").submit(function(e) {
            if ($("#email_input").val() == "") {
                alert("Geben Sie bitte die richtige Email ein!");
                e.preventDefault();
            }
        });
    });
</script>
